<section>
    <h1 class="text-center">
        COMPANY <span class="text-info"><i class="bi bi-columns-gap"></i></span> CRM
    </h1>
    <h4 class="text-center text-secondary">Login to your account</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-5">
        <div class="mb-2">
            <input #emailFieldRef type="text" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <app-error-field [formField]="getFieldControl('email')"></app-error-field>
        <div class="mt-4 mb-2">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <app-error-field [formField]="getFieldControl('password')"></app-error-field>
        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="loginForm.invalid">Log In</button>
        </div>
    </form>
    <app-footer></app-footer>
</section>