<section class="mt-5 m-auto" style="width: 50%;">
    <h1 class="text-center">
        COMPANY <span class="text-info"><i class="bi bi-columns-gap"></i></span> CRM
    </h1>
    <h4 class="text-center text-secondary">Start meneging your business</h4>
    <div class="mt-5 d-flex justify-content-center">
        <div class="card mx-4" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2018/06/02/22/58/career-3449422_960_720.png" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Customers</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt rem quas voluptates
                    hic animi quo placeat, distinctio ut eligendi ipsam.</p>
                <a routerLink="/customers" class="btn btn-primary">Let's Go</a>
            </div>
        </div>
        <div class="card mx-4" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2018/06/02/22/58/career-3449422_960_720.png" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Employees</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis cumque ex
                    autem impedit. Fugit esse atque cum aliquid autem.</p>
                <a routerLink="/employees" class="btn btn-primary">Let's Go</a>
            </div>
        </div>
    </div>
</section>