<app-header [icon]="'bi bi-person-circle'" [title]="title"></app-header>

<div class="px-5 m-auto mt-4" style="width: 90%;">
    <div class="form-group d-flex align-items-center" style="width: 22%;">
        <i class="bi bi-search fs-5 me-3 text-secondary"></i>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
            [(ngModel)]="searchText" placeholder="Start typing" autofocus>
    </div>
    <table class="table mt-4">
        <thead style="border-bottom: 2px black solid;">
            <tr>
                <th class="align-middle">#</th>
                <th class="align-middle">Name</th>
                <th class="align-middle">Phone</th>
                <th class="align-middle">Email</th>
                <th class="align-middle">Birthday</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let one of employeesList  | appFilter: searchText; index as i">
                <td>{{i + 1}}</td>
                <td>{{one.name}}</td>
                <td>{{one.phone}}</td>
                <td>{{one.email}}</td>
                <td>{{one.birthday}}</td>
            </tr>
        </tbody>
    </table>
</div>